body{
   background-image: url("/Libs/img/198483-full_1920x1080-wallpaper-wiki-hd-dungeons-and-dragons-photos-pic.jpg");
}
header{
    margin-top: 200px;
    font-family: McLaren, Arial, Helvetical, sans-serif;
}
.dws-menu *{
    margin: 0;
    padding: 0;
}
.dws-menu ul,
.dws-menu ol{
    list-style: none;
}
.dws-menu > ul {
    display: flex;
    justify-content: center;
}
.dws-menu > ul li a{
    display: block;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #454547;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.dws-menu > ul li{
    position: relative;
    border-right: 1px solid #c7c8ca;
}
.dws-menu > ul li > a i.fa{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}
.dws-menu > ul li:first-child{
    border-left: 1px solid #b2b3b5;
}
.dws-menu > ul li:last-child{
    border-right: 1px solid #babbbb;
}
.dws-menu li a:hover{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+36,28343b+100 */
    background: rgb(181,189,200); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}

/*Sub menu*/
.dws-menu li ul{
    position: absolute;
    min-width: 150px;
    display: none;
}
.dws-menu li > ul li{
    border: 1px solid #c7c8ca;
}
.dws-menu li > ul li a{
    padding: 10px;
    text-transform: none;
    background: #e4e4e5;
}
.dws-menu li > ul li ul{
    position: absolute;
    right: -150px;
    top: 0;
}
.dws-menu li:hover > ul{
    display: block;
}

/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
/*.dws-wrapper{*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/
/*.boxImg{*/
/*    width: 500px;*/
/*    height: 300px;*/
/*}*/
/*.boxImg img{*/
/*    height: 300px;*/
/*}*/